archive-and-commit.sh
publish-readme.sh
workspace/org.grammaticalframework.updatesite/*.jar
workspace/org.grammaticalframework.updatesite/*/*.jar
.gfbuild/
*.gfo

*.class
#*.jar
*.war
*.ear
target/

## Entries below are from https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore

*.pydevproject
#.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
