<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="gf,gfh"
            id="org.grammaticalframework.eclipse.GF"
            name="GF Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.grammaticalframework.eclipse.GF.validate">
         <activeWhen>
            <reference
                    definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.grammaticalframework.eclipse.GF.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.grammaticalframework.eclipse.GF" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.grammaticalframework.eclipse.GF"
            name="Grammatical Framework">
            <keywordReference id="org.grammaticalframework.eclipse.ui.keyword_GF"/>
        </page>
        <page
            category="org.grammaticalframework.eclipse.GF"
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.grammaticalframework.eclipse.GF.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.grammaticalframework.eclipse.ui.keyword_GF"/>
        </page>
        <page
            category="org.grammaticalframework.eclipse.GF"
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.grammaticalframework.eclipse.GF.templates"
            name="Templates">
            <keywordReference id="org.grammaticalframework.eclipse.ui.keyword_GF"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.grammaticalframework.eclipse.ui.keyword_GF"
            label="GF"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.grammaticalframework.eclipse.GF.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.grammaticalframework.eclipse.GF.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="gf">
		</parser>
  <parser
        class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
        type="gfh">
  </parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="gf">
        </resourceServiceProvider>
        <resourceServiceProvider
              class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
              uriExtension="gfh">
        </resourceServiceProvider>
    </extension>



   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.grammaticalframework.eclipse.GF.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.grammaticalframework.eclipse.GF.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.grammaticalframework.eclipse.GF.compare.contentViewers"
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gf">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.grammaticalframework.eclipse.GF.compare.contentMergeViewers"
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gf" label="GF Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.grammaticalframework.eclipse.GF.editors.documentProviders"
            class="org.grammaticalframework.eclipse.ui.GFExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="gf">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.grammaticalframework.eclipse.ui.perspectives.GFPerspectiveFactory"
           icon="icons/gf-logo.png"
           id="org.grammaticalframework.eclipse.ui.gfperspective"
           name="GF">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.grammaticalframework.eclipse.ui.category.wizards"
           name="Grammatical Framework (GF)">
     </category>
     <wizard
           category="org.grammaticalframework.eclipse.ui.category.wizards"
           class="org.grammaticalframework.eclipse.ui.wizards.GFNewFileWizard"
           finalPerspective="org.grammaticalframework.eclipse.ui.gfperspective"
           hasPages="true"
           icon="icons/gf-source.png"
           id="org.grammaticalframework.eclipse.ui.wizards.GFNewFileWizard"
           name="GF Module"
           project="false">
     </wizard>
     <wizard
           category="org.grammaticalframework.eclipse.ui.category.wizards"
           class="org.grammaticalframework.eclipse.ui.wizards.GFNewProjectWizard"
           finalPerspective="org.grammaticalframework.eclipse.ui.gfperspective"
           hasPages="true"
           icon="icons/gf-logo.png"
           id="org.grammaticalframework.eclipse.ui.wizards.GFNewProjectWizard"
           name="GF Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.grammaticalframework.eclipse.GFLaunchConfigurationType"
           icon="icons/gf-logo.png"
           id="launch.GFLaunchConfigurationTypeImageID">
     </launchConfigurationTypeImage>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.grammaticalframework.eclipse.ui.launch.GFLaunchConfigurationTabGroup"
           id="launch.GFLaunchConfigurationTabGroupID"
           type="org.grammaticalframework.eclipse.GFLaunchConfigurationType">
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.grammaticalframework.eclipse.ui.launch.GFLaunchShortcut"
           icon="icons/gf-logo.png"
           id="org.grammaticalframework.eclipse.ui.launch.shortcut"
           label="GF Batch Compile"
           modes="run">
        <contextualLaunch></contextualLaunch>
     </shortcut>
  </extension>
  <extension
        id="natures.projectNatureID"
        name="GF Nature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.grammaticalframework.eclipse.ui.natures.GFProjectNature">
        </run>
     </runtime>
     <builder
           id="org.grammaticalframework.eclipse.ui.build.GFBuilderID">
     </builder>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.grammaticalframework.eclipse.ui.gfperspective">
        <newWizardShortcut
              id="org.grammaticalframework.eclipse.ui.wizards.GFNewProjectWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.grammaticalframework.eclipse.ui.wizards.GFNewFileWizard">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/gf-logo-corner.png"
           id="natures.projectNatureImageID"
           natureId="org.grammaticalframework.eclipse.ui.natures.projectNatureID">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonFilter
           activeByDefault="true"
           description="Hides *.gfo resources"
           id="filter.hideGFO"
           name="*.gfo resources"
           visibleInUI="true">
        <filterExpression>
        	<and>
	            <adapt type="org.eclipse.core.resources.IResource">
	                <test property="org.eclipse.core.resources.name" value="*.gfo"/>
	            </adapt>
            </and>
        </filterExpression>
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension pattern="filter.hideGFO"></contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        id="build.GFBuilderID"
        name="GF Builder"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true">
        <run
              class="org.grammaticalframework.eclipse.builder.GFBuilder">
           <parameter
                 name="comment"
                 value="GF Builder">
           </parameter>
        </run></builder>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="toggleNatureObjectContributionID"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.grammaticalframework.eclipse.ui.natures.ToggleNatureAction"
              id="toggleNatureActionID"
              label="Add/Remove GF Nature"
              menubarPath="additions">
        </action>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.grammaticalframework.eclipse.ui.editor.preferences.GFPreferenceInitializer">
     </initializer>
  </extension>

</plugin>
